/* Partners.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.partners-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #121a21; /* Темный фон */
    height: 100%; /* Полная высота экрана */
  }
  
  .image-container {
    width: 100%;
    height: 100%; /* Растягиваем изображение на всю высоту */
    overflow: hidden; /* Прячем выходящие части изображения */
    position: relative;
    z-index: 1;
  }
  
  .partners-image {
    width: 100%; /* Растягиваем изображение по ширине */
    height: 100%; /* Растягиваем изображение по высоте */
    object-fit: cover; /* Сохраняем пропорции изображения */
  }
  